.libros-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
  }
  
  .libro {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .portada-libro {
    width: 100%;
    height: 300px; /* Tamaño fijo para la imagen */
  object-fit: cover; 
    border-radius: 5px;
  }
  
  .info-libro h3 {
    margin-top: 0;
    text-align: center  ;
  }
  
  .info-libro p {
    margin: 5px 0;
  }
  
  .info-libro strong {
    font-weight: bold;
  }
  button{
    background: #000;
  }

  .img-pencil{
   margin-left: 10px;
  }
  
  .container-icons{
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-bottom: 3px;
  }
  .search-container{
    margin-top: 10px;
    justify-content: flex-end;
    display: flex;
    
  }

  
  .search-container input[type="text"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px ;
    margin: 10px 20px 10px 20px;
    
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .search-container input[type="text"]::placeholder {
    color: #999; 
  }
  