@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');



body{
        background-color: #f0f0f0; 

    
}

.header{
    background-color: #39a05d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    z-index: 3;
  
}

header:hover{
  position: relative;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #e2f1f8;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}



.header .btn button:hover{
    background-color: #e2f1f8;
    color: #1b3039;
    transform: scale(1.1);
}



  .dropdown-menu {
    position: absolute;
    text-align: center;
    top: calc(100% + 1px);
    left: 0;
    background-color: #55a370;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: none;
    width: 130px; /* Ajusta el ancho del menú desplegable */
    padding: 10px; /* Añade espaciado interno al contenido del menú */
    border-radius: 8px; /* Añade bordes redondeados al menú */
    
  }
  
  .dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu ul li {
    position: relative;
    padding: 10px;
  }

  .dropdown-menu ul li::after {
    
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Ancho completo para la línea de separación */
    height: 1px; /* Altura de la línea de separación */
    background-color: rgba(255, 255, 255, 0.2); /* Color y opacidad de la línea */
  }

  .dropdown-menu ul li:last-child::after {
    display: none; /* Oculta la línea de separación del último elemento */
  }
  
  .dropdown-menu ul li a {
    color: #333;
    text-decoration: none;
  }
  
  .dropdown-menu ul li a:hover {
    color: #007bff;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }