.bttt{
  width: 100%;
    padding: 10px; /* Ajusta el padding según sea necesario */
   box-sizing: border-box; /* Incluye el padding en el ancho total del botón */
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-size: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: #39a05d;
    cursor: pointer;
    margin: center;
  }
  
  .bttt:hover{
  
    background: #39995b;
  
  }

  .titlee {
    margin-left: 21px;
    margin-top: 19px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    font-weight: bold;
  }
  
  .titlee::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 200px;
    box-shadow: 7px 13px 90px #39a05d;
  }
  
  .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  
  .input-boxx{
    margin-bottom: 15px;
    width: calc(1000px / 2 -20px);
  }
  
  .input-boxx .details{
    display: block;
    font-weight: 100;
    margin-bottom: 5px;
  }
  
  .input-boxx input{
    margin-top: 9px;
    margin-left: 20px;
    height: 45px;
    width: 400px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #39a05d;
    padding-left: 15px;
    font-size: 16px;
  }

